<html
data-color-mode="dark
data-is-sidebar-collapsing="true">



/*hides filters bar*/
#ghx-operations{
	height:0px;
	visibility:hidden;
}

/*new filters bar hide*/
.css-1qpaaev, .xheow4-0{
	height:0px;
	visibility:hidden;
	margin-top:0px !important;
}

/*hides user icons*/
#ghx-controls{
	height:0px;
	visibility:hidden;
}
/*removes whitespace in ghx-operations div*/
#ghx-controls-buttons{
	height:0px;
	visibility:hidden;
}


/*hides user icons in newer boards*/
._otyrzwfg{
	display: none !important;
}

/*Stops swimlane titles disapearing in newer boards*/
.css-1dzinrg{
	height:30px;
}

/*hides insights button*/
.css-1f7f0z2 {
	visibility:hidden;
}

/*hides header*/
#ak-jira-navigation{
	height:0px;
	display:none;
}
.css-1btht9s {
    grid-area: banner / content / content / content !important;
}


/*adjust project sticky headers for the thinner titles*/
.ghx-swimlane-header{
	top: 33px !important;
}

/*hides breadcrumbs above sprint name*/
._1tke1tcg{
	visibility:hidden;
	height:0px !important;
	display: none;
}
/*shrinks breadcrumbs space*/
.bYQimP{
	visibility:hidden;
	margin:0px 0px 0px 0px !important;
	height:0px !important;
}

/*hides "Complete sprint" button*/
.complete-sprint-container, .css-178ag6o{
	visibility:hidden;
}

/*hides favourite button - who has a favourite scrum wall anyway?*/
.favourite-btn, .css-1gd7hga{
	visibility:hidden;
}

/*hides automation button*/
.css-ahwpyx, .css-1afrefi{
	visibility:hidden;
}

/*hides share button*/
.css-hxlay7, .css-1luyhz2{
	visibility:hidden;
}

/*hides meatball menu*/
#board-tools-section-button, .css-6pc8aq{
	visibility:hidden;
}

/*hides left menu slider button, so reduct it before running the extension*/
.css-b5kgsh {
	visibility:hidden;
}

/*Make the tickets highlighted on mouse hover. Must be in dark mode otherwise this will look bad*/
.ghx-issue:hover, ._1e0c1ul, .sc-7ay0j8-0:hover{
	background: #323940 !important;
	border-style:solid !important;
	border-width:2px !important;
	border-color: white !important;
}

/*removes extra padding from top of page*/
.css-cayjis{
	margin: 0px 0px 0px 0px !important;
}